@font-face {
  font-family: "Manrope";
  src: url("./../fonts/Manrope-Bold.eot");
  src: local("Manrope Bold"), local("Manrope-Bold"), url("./../fonts/Manrope-Bold.eot?#iefix") format("embedded-opentype"), url("./../fonts/Manrope-Bold.woff2") format("woff2"), url("./../fonts/Manrope-Bold.woff") format("woff"), url("./../fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("./../fonts/Manrope-Semibold.eot");
  src: local("Manrope Semibold"), local("Manrope-Semibold"), url("./../fonts/Manrope-Semibold.eot?#iefix") format("embedded-opentype"), url("./../fonts/Manrope-Semibold.woff2") format("woff2"), url("./../fonts/Manrope-Semibold.woff") format("woff"), url("./../fonts/Manrope-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("./../fonts/Manrope-Regular.eot");
  src: local("Manrope Regular"), local("Manrope-Regular"), url("./../fonts/Manrope-Regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/Manrope-Regular.woff2") format("woff2"), url("./../fonts/Manrope-Regular.woff") format("woff"), url("./../fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("./../fonts/Manrope-Medium.eot");
  src: local("Manrope Medium"), local("Manrope-Medium"), url("./../fonts/Manrope-Medium.eot?#iefix") format("embedded-opentype"), url("./../fonts/Manrope-Medium.woff2") format("woff2"), url("./../fonts/Manrope-Medium.woff") format("woff"), url("./../fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
.registration {
  width: 100%;
}
.registration__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.registration__left-block {
  width: 51.5%;
  padding-top: 163px;
  padding-left: 172px;
}
.registration__title {
  font-size: 48px;
  font-weight: 700;
  color: #23262F;
  letter-spacing: -0.19vw;
  margin-bottom: 42px;
}
.registration__form {
  width: 397px;
}
.registration__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px 21px;
  margin-bottom: 11px;
}
.registration__label {
  font-size: 13px;
  font-weight: 500;
  color: #777E90;
  width: 100%;
}
.registration__label span {
  display: inline-block;
  margin-bottom: 13px;
  position: relative;
}
.registration__label span:not(.not-necessary)::after {
  content: "*";
  color: #D11A2A;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  top: 0;
  right: -10px;
}
.registration__label sup {
  color: #D11A2A;
}
.registration__label:nth-child(5), .registration__label:nth-child(6) {
  grid-column: 1/3;
}
.registration__label.password {
  position: relative;
}
.registration .password-control {
  position: absolute;
  bottom: 10px;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 27px;
  height: 20px;
  background: url(./../img/eye.svg) 0 0 no-repeat;
}
.registration .password-control.view {
  background: url(./../img/eye4.svg) 0 0 no-repeat;
}
.registration__input {
  height: 56px;
  width: 100%;
  padding: 0 20px;
  background: #F4F5F6;
  border-radius: 8px;
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #23262F;
}
.registration__input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #23262F;
}
.registration__input::-moz-placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #23262F;
}
.registration__input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #23262F;
}
.registration__input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #23262F;
}
.registration__input::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #23262F;
}
.registration__warning {
  font-size: 13px;
  font-weight: 500;
  color: #000000;
  line-height: 1.76;
  letter-spacing: -0.07vh;
  margin-bottom: 22px;
}
.registration__warning a {
  color: #D11A2A;
}
.registration__required {
  font-size: 13px;
  font-weight: 500;
  color: #777E90;
  letter-spacing: -0.1vh;
  padding-left: 10px;
  margin-bottom: 40px;
  position: relative;
}
.registration__required::before {
  content: "*";
  color: #D11A2A;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: -2px;
}
.registration__select-label {
  font-size: 13px;
  font-weight: 500;
  color: #777E90;
  letter-spacing: -0.123vh;
  padding-left: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-bottom: 25px;
}
.registration__checkbox-style {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background: #F4F5F6;
  margin-left: -35px;
}
.registration__checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.registration__checkbox-input:checked + .registration__checkbox-style::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background: #06B966;
  background-image: url(./../img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12.5px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.registration__btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 56px;
  border: none;
  cursor: pointer;
  background: #D11A2A;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 20px 25px rgba(209, 26, 42, 0.15);
          box-shadow: 0px 20px 25px rgba(209, 26, 42, 0.15);
  border-radius: 12px;
}
.registration__img-block {
  width: 48.5%;
  height: 1114px;
}
.registration__img-block img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mobile {
  display: none;
}

@media (max-width: 48em) {
  .desctop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .header__inner {
    padding-bottom: 6rem;
    border-bottom: 0.1rem solid rgb(96, 96, 96);
  }
  .header__logo {
    width: 21.2rem;
    height: 11.6rem;
  }
  .header__btn {
    width: 10.6rem;
    height: 7rem;
  }
  .header__btn img {
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .header__tel {
    font-size: 0;
    width: 6.8rem;
    height: 6.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__tel img {
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .header__menu {
    width: 100%;
    height: 100%;
    padding-bottom: 11.2rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: ease 0.8s;
    transition: ease 0.8s;
    background: rgb(50, 50, 50);
    z-index: 1000;
    overflow-y: auto;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .header__menu.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header__menu.on-white-page .header__nav-item {
    color: rgb(255, 255, 255);
  }
  .header__top {
    padding: 4.4rem 4rem 5rem 4rem;
    border-bottom: 0.1rem solid rgb(96, 96, 96);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__btn-mob {
    padding: 0 4rem;
    margin: 0 4rem 10rem 4rem;
  }
  .header__navigation {
    padding: 10rem 4rem;
  }
  .header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .header__nav-item {
    font-size: 4rem;
    color: rgb(255, 255, 255);
  }
  .header__nav-item:not(:last-child) {
    margin-bottom: 8rem;
  }
  .header__contact {
    padding: 10rem 4rem 10rem 4rem;
    margin-bottom: 10rem;
    border-top: 0.1rem solid rgb(112, 112, 112);
    border-bottom: 0.1rem solid rgb(112, 112, 112);
  }
  .header__contact-item:not(:last-child) {
    margin-bottom: 10rem;
  }
  .header__contact-name {
    font-size: 3.6rem;
    font-weight: 400;
    color: rgb(123, 123, 123);
    margin-bottom: 2.4rem;
  }
  .header__contact-value {
    font-size: 4re;
    font-weight: 800;
    color: rgb(255, 255, 255);
  }
  .header__social {
    padding: 0 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0.4;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__social-item {
    width: 6rem;
    height: 6rem;
  }
  .header__social-item:not(:last-child) {
    margin-right: 8rem;
  }
  .header__social-item img {
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .banner {
    position: relative;
    padding-bottom: 44rem;
  }
  .banner::before {
    content: "";
    width: 45.8rem;
    height: 45.8rem;
    border-radius: 50%;
    background: #FFFFFF;
    opacity: 0.2;
    -webkit-filter: blur(20rem);
            filter: blur(20rem);
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .banner__inner {
    position: relative;
  }
  .banner__img-arrow {
    width: 1rem;
    height: 9rem;
    -o-object-fit: contain;
       object-fit: contain;
    position: absolute;
    top: 0;
    left: 47.5%;
    z-index: 10;
  }
  .banner__slider {
    width: 100%;
    padding-top: 5.2rem;
    padding-bottom: 10rem;
  }
  .banner__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .banner__left-block {
    width: 100%;
    padding: 0rem 0 9rem 0rem;
    margin-right: 0rem;
  }
  .banner__left-block::after {
    content: none;
  }
  .banner__left-block::before {
    height: 0.1rem;
    width: 100%;
    top: auto;
    bottom: 1rem;
  }
  .banner__left-item-img {
    width: 7rem;
    height: 7rem;
  }
  .banner__left-item-img:not(:last-child) {
    margin-bottom: 4rem;
  }
  .banner__left-item-title {
    font-size: 4rem;
    margin-bottom: 1.6rem;
  }
  .banner__left-item-subtitle {
    font-size: 3.6rem;
    width: 80%;
    padding-bottom: 0rem;
    margin-bottom: 5rem;
  }
  .banner__bg-block {
    height: 76rem;
    margin-bottom: 8rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .banner__slide-bg {
    width: 61.4rem;
    height: 100%;
  }
  .banner__title-block {
    width: 100%;
    padding-bottom: 3rem;
    position: relative;
  }
  .banner__title {
    font-size: 6rem;
    width: 57%;
    margin-left: auto;
  }
  .banner__control {
    bottom: 2rem;
    right: 0rem;
  }
  .banner__pagination {
    top: auto;
    right: auto;
    left: -6rem;
    bottom: 1rem;
  }

  .projects__title-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-bottom: 8rem;
  }
  .projects__title {
    font-size: 6rem;
    width: 100%;
    margin-bottom: 6rem;
  }
  .projects__slider {
    margin-bottom: 8rem;
  }
  .projects__slide {
    padding: 5.2rem 3.6rem 3.6rem 3.6rem;
    width: 75rem;
  }
  .projects__slide-sticker {
    font-size: 3rem;
    width: 25rem;
    height: 7rem;
    bottom: 22.6rem;
  }
  .projects__slide-img {
    height: 47.4rem;
    margin-bottom: 4rem;
  }
  .projects__slide-title {
    font-size: 4rem;
  }
  .projects__slide-link {
    width: 9rem;
    height: 1.4rem;
  }
  .projects__control {
    margin: 0;
  }

  .whom {
    padding-top: 24.7rem;
    padding-bottom: 20rem;
    position: relative;
  }
  .whom .container {
    padding: 0;
  }
  .whom::before {
    top: 100%;
    right: 0;
  }
  .whom__title-wrap {
    margin-bottom: 8.3rem;
    padding: 0 4rem;
  }
  .whom__title {
    margin-bottom: 3.5rem;
  }
  .whom__subtitle {
    text-align: left;
    line-height: 1.7;
  }
  .whom__content {
    overflow-x: scroll;
    padding-left: 4rem;
  }
  .whom__content::-webkit-scrollbar {
    display: none;
  }
  .whom__box {
    width: 60.8rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    position: relative;
    padding: 4rem 5.2rem 4rem 4rem;
  }
  .whom__box:hover {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    z-index: 10;
  }
  .whom__box::after {
    bottom: 0.1rem;
  }
  .whom__img-letter {
    width: 14rem;
    height: 16rem;
    margin-bottom: 11rem;
  }
  .whom__box-title {
    font-size: 4rem;
    margin-bottom: 2.4rem;
  }
  .whom__box-subtitle {
    font-size: 3.6rem;
  }

  .numbers {
    padding-bottom: 29.4rem;
    height: auto;
    margin: 0;
    position: relative;
  }
  .numbers .container {
    padding: 0;
  }
  .numbers__bg {
    top: 0.3rem;
  }
  .numbers__bg-letters {
    width: 100%;
    height: 49.5rem;
    left: 50%;
    -webkit-transform: translate(-51%, 59%);
            transform: translate(-51%, 59%);
  }
  .numbers__inner {
    padding: 0 4rem;
  }
  .numbers__title {
    padding-top: 0;
    margin-bottom: 10rem;
  }
  .numbers__content {
    margin-left: 10.8rem;
  }
  .numbers__item:first-child {
    margin-left: 0;
    margin-bottom: 11.8rem;
  }
  .numbers__item:nth-child(2) {
    margin-left: 0;
    margin-bottom: 10rem;
  }
  .numbers__item:nth-child(3) {
    margin-left: 0;
    margin-bottom: 13.4rem;
  }
  .numbers__item:nth-child(4) {
    margin-left: 0;
  }
  .numbers__value {
    font-size: 6rem;
    margin-bottom: 0.5rem;
  }
  .numbers__description {
    font-size: 3.6rem;
    position: relative;
  }
  .numbers__description::before {
    width: 1.6rem;
    height: 1.6rem;
    left: -7.4rem;
    top: -1.5rem;
  }

  .services {
    padding-top: 55rem;
    padding-bottom: 26.5rem;
  }
  .services__title-wrap {
    margin-bottom: 8rem;
  }
  .services__title {
    margin-bottom: 6rem;
  }
  .services__btn {
    margin-right: auto;
  }
  .services__content-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 4rem;
  }
  .services__box {
    width: 50%;
  }
  .services__box-inner {
    padding: 7rem 4.1rem 8.7rem 3.5rem;
  }
  .services__box-info {
    margin-bottom: 5rem;
  }
  .services__box-number {
    font-size: 12rem;
  }
  .services__box-name {
    font-size: 3rem;
  }
  .services__box-title {
    font-size: 4rem;
    margin-bottom: 3.4rem;
    width: 100%;
  }
  .services__box-subtitle {
    font-size: 3.6rem;
    margin-bottom: 6.5rem;
    padding-right: 0.5rem;
    line-height: 1.27;
  }
  .services__box-link {
    height: 1.5rem;
    width: 9rem;
  }
  .services__content-bottom {
    border-top: 1px solid rgba(210, 210, 210, 0.7);
    padding: 6.6rem 6rem 8rem 3.4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__bottom-numbers-wrap {
    width: 100%;
    padding-right: 0rem;
    margin-right: 0rem;
    -ms-flex-item-align: start;
        align-self: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 7.6rem;
  }
  .services__bottom-number {
    font-size: 6rem;
    font-weight: 700;
    color: #323232;
    margin-bottom: 0;
    margin-right: 3rem;
  }
  .services__bottom-number-subtitle {
    font-size: 3.6rem;
  }
  .services__bottom-title {
    font-size: 4rem;
    margin-bottom: 3.4rem;
  }
  .services__bottom-text {
    font-size: 3.6rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 1.27;
  }
  .services__bottom-text p:not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 4rem;
  }

  .article {
    margin-bottom: 27rem;
  }
  .article::before {
    height: 8rem;
  }
  .article__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .article__sticker {
    font-size: 3.6rem;
    width: 32.8rem;
    height: 9rem;
    padding: 0 3rem;
    position: absolute;
    bottom: 7.5rem;
    right: auto;
    left: 0;
  }
  .article__content {
    padding: 8rem 2rem 10rem 3.8rem;
    width: 100%;
  }
  .article__text {
    font-size: 3.6rem;
    line-height: 1.35;
    padding: 10rem 0 4.7rem;
    position: relative;
    width: 100%;
    margin-bottom: 4.5rem;
  }
  .article__quotes {
    width: 6rem;
    height: 5rem;
    -o-object-fit: contain;
       object-fit: contain;
    position: absolute;
  }
  .article__quotes:first-child {
    top: 0;
    left: 0;
  }
  .article__quotes:nth-child(2) {
    bottom: -1.5rem;
    right: 2.5rem;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .article__author-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .article__author-wrap {
    margin-right: 0rem;
    margin-bottom: 0rem;
  }
  .article__author {
    font-size: 6rem;
    margin-bottom: 0rem;
  }
  .article__position {
    font-size: 3.6rem;
  }
  .article__author-signature {
    width: 17rem;
    height: 17rem;
    padding-top: 0rem;
    position: absolute;
    right: 2rem;
    bottom: -11rem;
  }
  .article__photo {
    width: 100%;
    height: 100%;
  }

  .process {
    margin-bottom: 26rem;
  }
  .process__title {
    margin-bottom: 6rem;
  }
  .process__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .process__slide-text {
    width: 100%;
    padding: 4.8rem 15rem 7.5rem 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .process__box-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 3.5rem;
  }
  .process__box-number {
    font-size: 12rem;
    margin-right: 1rem;
  }
  .process__box-name {
    font-size: 3.6rem;
  }
  .process__box-title {
    font-size: 4rem;
    width: 100%;
    margin-bottom: 2.7rem;
  }
  .process__box-subtitle {
    font-size: 3.6rem;
    margin-bottom: 9.6rem;
    line-height: 1.3;
  }
  .process__slide-photo {
    width: 100%;
    height: 67.2rem;
  }
  .process__control {
    margin-top: auto;
  }

  .reviews {
    margin-bottom: 26rem;
  }
  .reviews__title-wrap {
    margin-bottom: 5.4rem;
  }
  .reviews__title {
    width: 100%;
    margin-bottom: 5rem;
    line-height: 1.46;
  }
  .reviews__btn {
    margin-right: 3rem;
    margin-right: auto;
  }
  .reviews__slider {
    border: 0.1rem solid #707070;
    margin-bottom: 9.5rem;
  }
  .reviews__slide {
    border-left: 0.1rem solid #707070;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
  }
  .reviews__sticker {
    font-size: 3.4rem;
    width: 32.8rem;
    height: 7.2rem;
    position: absolute;
    left: 0;
    bottom: 7rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 3rem;
  }
  .reviews__box-link {
    width: 8rem;
    height: 2rem;
    bottom: 10rem;
    right: 5rem;
  }
  .reviews__box-link img {
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .reviews__content {
    padding: 7rem 2rem 23rem 3rem;
    width: 100%;
  }
  .reviews__slide-title {
    font-size: 4rem;
    margin-bottom: 3.7rem;
  }
  .reviews__slide-subtitle {
    font-size: 3.6rem;
    margin-bottom: 0rem;
    line-height: 1.25;
  }
  .reviews__photo-block {
    height: 58rem;
    width: 100%;
    -ms-flex-item-align: center;
        align-self: center;
    padding-top: 6rem;
    margin-right: 5rem;
  }
  .reviews__control {
    margin: 0 auto 0 0;
  }

  .feedback {
    position: relative;
    overflow: hidden;
  }
  .feedback::before {
    top: 30rem;
    right: 0;
    left: auto;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .feedback__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback__content {
    width: 100%;
  }
  .feedback__title {
    font-size: 6rem;
    margin-bottom: 4rem;
    line-height: 1.45;
  }
  .feedback__title-smile {
    width: 3rem;
    height: 5.6rem;
    position: absolute;
    right: -5rem;
    top: 1.2rem;
  }
  .feedback__subtitle {
    font-size: 3.6rem;
    margin-bottom: 12rem;
    width: 94%;
    line-height: 1.3;
  }
  .feedback__contact {
    width: 100%;
  }
  .feedback__contact.mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .feedback__contact-item {
    padding-right: 2rem;
  }
  .feedback__contact-name {
    font-size: 3.6rem;
    margin-bottom: 1.8rem;
  }
  .feedback__contact-value {
    font-size: 4rem;
  }
  .feedback__form {
    color: #ffffff;
    width: 100%;
    margin-bottom: 12rem;
  }
  .feedback__inputs {
    display: grid;
    grid-template-columns: 1fr;
    -webkit-column-gap: 0rem;
       -moz-column-gap: 0rem;
            column-gap: 0rem;
    row-gap: 10rem;
    margin-bottom: 10rem;
  }
  .feedback__form-label:nth-child(1) {
    grid-column: 1/2;
  }
  .feedback__form-label:nth-child(2) {
    grid-column: 1/2;
  }
  .feedback__form-label:nth-child(3) {
    grid-column: 1/2;
  }
  .feedback__form-label:nth-child(4) {
    grid-column: 1/2;
  }
  .feedback__form-input {
    font-size: 4rem;
    padding-bottom: 2.4rem;
    border-bottom: 0.1rem solid #ffffff;
    width: 100%;
  }
  .feedback__form-input::-webkit-input-placeholder {
    font-size: 4rem;
  }
  .feedback__form-input::-moz-placeholder {
    font-size: 4rem;
  }
  .feedback__form-input:-ms-input-placeholder {
    font-size: 4rem;
  }
  .feedback__form-input::-ms-input-placeholder {
    font-size: 4rem;
  }
  .feedback__form-input::placeholder {
    font-size: 4rem;
  }
  .feedback__input-name {
    font-size: 3.6rem;
    margin-bottom: 2rem;
  }
  .feedback__form-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .feedback__form-attach {
    font-size: 3.6rem;
    margin-right: 0rem;
    margin-bottom: 8rem;
  }
  .feedback__form-attach img {
    width: 6rem;
    height: 6rem;
    margin-right: 4rem;
  }

  .footer {
    padding-top: 24rem;
    padding-bottom: 10rem;
    position: relative;
    overflow: hidden;
  }
  .footer::before {
    content: "";
    width: 45.8rem;
    height: 45.8rem;
    border-radius: 50%;
    background: #FFFFFF;
    opacity: 0.2;
    -webkit-filter: blur(20rem);
            filter: blur(20rem);
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transform: translate(50%, 80%);
            transform: translate(50%, 80%);
  }
  .footer .container {
    width: 100%;
    padding: 0;
  }
  .footer__top {
    padding: 10rem 4rem 9rem 4rem;
    margin-bottom: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logo {
    width: 26rem;
    height: 14.2rem;
    margin-right: 0rem;
    margin-bottom: 14.6rem;
  }
  .footer__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 4rem;
    margin-bottom: 15.2rem;
  }
  .footer__nav-item:not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 9rem;
  }
  .footer__social-item {
    width: 6rem;
    height: 6rem;
  }
  .footer__social-item:not(:last-child) {
    margin-right: 7.4rem;
  }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 7rem 4rem;
  }
  .footer__small {
    font-size: 3.6rem;
    margin-bottom: 10rem;
  }
  .footer__dev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__dev-name {
    margin-right: 0rem;
  }
  .footer__dev-name-key {
    font-size: 3.2rem;
    margin-bottom: 1.2rem;
    text-align: center;
  }
  .footer__dev-name-value {
    font-size: 4rem;
  }
  .footer__dev-name-value span {
    font-size: 4rem;
  }
  .footer__dev-logo {
    width: 12rem;
    height: 12rem;
  }

  .banner-about {
    margin-bottom: 9rem;
    padding-bottom: 15rem;
  }
  .banner-about::before {
    content: "";
    width: 45.8rem;
    height: 45.8rem;
    border-radius: 50%;
    background: #FFFFFF;
    opacity: 0.2;
    -webkit-filter: blur(20rem);
            filter: blur(20rem);
    position: absolute;
    bottom: -20rem;
    left: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .banner-about__inner {
    padding-top: 5.6rem;
  }
  .banner-about__substrate {
    position: absolute;
    width: 100%;
    height: 50.8rem;
    opacity: 0.04;
    top: auto;
    left: 0;
    bottom: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .banner-about__img-arrow {
    width: 2rem;
    height: 18rem;
  }
  .banner-about__text-block {
    width: 100%;
    margin: 0 auto 10rem auto;
  }
  .banner-about__title {
    font-size: 6rem;
    line-height: 1.46;
    margin-bottom: 10rem;
  }
  .banner-about__subtitle {
    font-size: 3.6rem;
    text-align: center;
    line-height: 1.22;
    letter-spacing: -0.5px;
  }

  .about {
    margin-bottom: 25rem;
  }
  .about__inner {
    display: grid;
    grid-template-columns: 100%;
    -webkit-column-gap: 0rem;
       -moz-column-gap: 0rem;
            column-gap: 0rem;
    row-gap: 12.5rem;
  }
  .about__box {
    width: 100%;
    display: grid;
    grid-template-columns: 18rem 51rem;
    grid-template-rows: 20% 68%;
    row-gap: 4rem;
    -webkit-column-gap: 6rem;
       -moz-column-gap: 6rem;
            column-gap: 6rem;
  }
  .about__box:nth-child(1) .about__box-img {
    width: 100%;
  }
  .about__box:nth-child(2) .about__box-img {
    width: 100%;
  }
  .about__box:nth-child(3) .about__box-img {
    width: 100%;
  }
  .about__box:nth-child(5) .about__box-img {
    width: 100%;
  }
  .about__box-img {
    width: 100%;
    height: 18rem;
    margin-bottom: 4rem;
    grid-row: 1/3;
    grid-column: 1/2;
  }
  .about__box-img img {
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .about__box-title {
    letter-spacing: 3px;
    margin-bottom: 0rem;
    text-transform: uppercase;
  }
  .about__subtitle {
    font-size: 3.6rem;
    margin-top: 0;
    line-height: 1.3;
    grid-column: 2/3;
  }

  .article.page-about {
    background: inherit;
    margin-bottom: 25rem;
  }
  .article.page-about::before {
    content: none;
  }
  .article.page-about .article__wrapper {
    background: #F2F2F2;
    padding: 8rem 0rem 0rem 0rem;
  }
  .article.page-about .article__title {
    font-size: 6rem;
    color: #323232;
    margin-bottom: 8.6rem;
    padding: 0 4rem;
  }
  .article.page-about .article__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 4rem 33rem 4rem;
  }
  .article.page-about .article__text {
    width: 100%;
    font-size: 3.4rem;
  }
  .article.page-about .article__quotes:nth-child(2) {
    bottom: -2.5rem;
    right: 1.5rem;
  }
  .article.page-about .article__content {
    padding: 0;
    margin-bottom: 18rem;
  }
  .article.page-about .article__photo {
    width: 62.8rem;
    height: 34rem;
    margin: 0 auto;
  }
  .article.page-about .article__sticker {
    bottom: 6rem;
  }

  .partners-line {
    margin-bottom: 24.5rem;
    overflow-x: hidden;
  }
  .partners-line__slider {
    margin-bottom: 11rem;
    overflow: visible;
  }
  .partners-line__slide {
    width: 50rem;
    height: 17rem;
  }
  .partners-line__control {
    margin: 0;
  }

  .partners {
    margin-bottom: 24rem;
    position: relative;
  }
  .partners::before {
    content: "";
    width: 45.8rem;
    height: 45.8rem;
    border-radius: 50%;
    background: #FFFFFF;
    opacity: 0.2;
    -webkit-filter: blur(20rem);
            filter: blur(20rem);
    position: absolute;
    bottom: -20rem;
    left: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .partners::after {
    content: "";
    width: 25rem;
    height: 45.8rem;
    border-radius: 50% 0 0 50%;
    background: #FFFFFF;
    opacity: 0.2;
    -webkit-filter: blur(20rem);
            filter: blur(20rem);
    position: absolute;
    top: -70%;
    right: 0;
  }
  .partners__title {
    margin-bottom: 14rem;
  }
  .partners__content {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  .partners__box {
    width: 100%;
    height: 28.8rem;
  }
  .partners__box:not(:first-child) {
    margin-left: -0.1rem;
  }
  .partners__box:not(:nth-child(-n+5)) {
    margin-top: -0.1rem;
  }
  .partners__box img {
    width: 23.6rem;
    height: 18rem;
  }
  .partners__box:hover {
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }

  .awards {
    padding-top: 24rem;
    padding-bottom: 22.4rem;
    margin-bottom: 21.5rem;
  }
  .awards__slider {
    position: relative;
  }
  .awards__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .awards__slide-img {
    width: 100%;
    margin-bottom: 13.6rem;
  }
  .awards__slide-img img {
    width: 30rem;
    height: 83.6rem;
  }
  .awards__slide-text-block {
    width: 100%;
    padding-top: 0rem;
    margin-bottom: 12rem;
  }
  .awards__slide-title {
    font-size: 6rem;
    margin-bottom: 6rem;
  }
  .awards__slide-paragraphs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 3.6rem;
    line-height: 1.35;
  }
  .awards__slide-text-column:nth-child(1) {
    width: 100%;
  }
  .awards__slide-text-column:nth-child(2) {
    width: 100%;
  }
  .awards__slide-text-column:not(:last-child) {
    margin-right: 0rem;
  }
  .awards__slide-text-column p:not(:last-child) {
    margin-bottom: 4rem;
  }
  .awards__control {
    position: static;
    z-index: 10;
  }

  .header--dark .header__inner {
    border-bottom: 0.1rem solid rgba(210, 210, 210, 0.7);
  }

  .banner-project {
    padding-top: 0rem;
    margin-bottom: 24.5rem;
  }
  .banner-project__title-block {
    padding-top: 5.6rem;
    padding-bottom: 6rem;
    margin-bottom: 5.6rem;
    border-bottom: 0.1rem solid rgba(210, 210, 210, 0.7);
  }
  .banner-project__subtitle {
    font-size: 3.6rem;
    letter-spacing: 0.8px;
    margin-bottom: 3.6rem;
  }
  .banner-project__title {
    width: 100%;
  }
  .banner-project__slider {
    margin-bottom: 8rem;
    height: 72rem;
  }
  .banner-project__slide {
    height: 61.3rem;
  }
  .banner-project__slide.swiper-slide-active {
    height: 100%;
  }

  .about-project {
    margin-bottom: 24rem;
  }
  .about-project__text-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 25rem;
  }
  .about-project__left-block {
    width: 100%;
    padding-right: 0rem;
    padding-top: 0rem;
    margin-bottom: 8rem;
  }
  .about-project__subtitle {
    font-size: 3.6rem;
    margin-bottom: 2rem;
  }
  .about-project__title {
    width: 100%;
    margin-bottom: 3rem;
  }
  .about-project__par {
    font-size: 3.4rem;
    line-height: 1.36;
  }
  .about-project__right-block {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    -webkit-column-gap: 0rem;
       -moz-column-gap: 0rem;
            column-gap: 0rem;
  }
  .about-project__item {
    width: 100%;
    padding: 5rem 4rem 4.5rem 0;
    border-top: 1px solid rgba(210, 210, 210, 0.7);
  }
  .about-project__item:not(:nth-child(-n+2)) {
    border-bottom: none;
  }
  .about-project__item:last-child {
    border-bottom: 1px solid rgba(210, 210, 210, 0.7);
  }
  .about-project__item:nth-child(3) {
    grid-row: 2/3;
  }
  .about-project__item-subtitle {
    font-size: 3.5rem;
    margin-bottom: 5rem;
  }
  .about-project__item-title {
    font-size: 5rem;
  }
  .about-project__photo {
    height: 72rem;
  }

  .project-description {
    margin-bottom: 27rem;
  }
  .project-description__task {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .project-description__img-block {
    width: 100%;
    height: 48rem;
    margin-bottom: 7rem;
  }
  .project-description__img-block img {
    width: 34.4rem;
  }
  .project-description__text-block {
    padding-right: 0rem;
    padding-top: 0rem;
    width: 100%;
    margin-bottom: 12rem;
  }
  .project-description__title {
    width: 100%;
    margin-bottom: 3rem;
  }
  .project-description__par-wrap {
    width: 100%;
  }
  .project-description .par-wrap {
    font-size: 3.4rem;
    line-height: 1.35;
    letter-spacing: 0.58px;
  }
  .project-description .par-wrap p:not(:last-child) {
    margin-bottom: 4rem;
  }
  .project-description__center-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0rem;
  }
  .project-description__center-blocks .project-description__text-block {
    width: 100%;
    padding-top: 0;
  }
  .project-description__center-blocks .project-description__par-wrap {
    width: 100%;
  }
  .project-description__left-item {
    width: 100%;
  }
  .project-description__img-small {
    width: 100%;
    height: 48rem;
    margin-bottom: 8rem;
  }
  .project-description__right-item {
    width: 100%;
  }
  .project-description__img-big {
    width: 100%;
    height: 48rem;
    margin-bottom: 8rem;
  }
  .project-description__big-block {
    width: 100%;
  }
  .project-description__big-block .project-description__text-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
    width: 100%;
    padding-right: 0;
  }
  .project-description__big-block .project-description__title {
    width: 100%;
    padding-right: 4rem;
  }
  .project-description__big-block .project-description__par-wrap {
    text-align: left;
  }
  .project-description__big-block-img {
    width: 100%;
    height: 48rem;
    margin-bottom: 8rem;
  }

  .video {
    width: 100%;
    height: 72rem;
    position: relative;
    margin-bottom: 25rem;
  }
  .video__play {
    width: 38.8rem;
    height: 38.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .video__btn-img {
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .video__file {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .our-services {
    padding-top: 5.6rem;
    margin-bottom: 22.5rem;
  }
  .our-services__title-wrap {
    margin-bottom: 24rem;
  }
  .our-services__title {
    margin-bottom: 4rem;
  }
  .our-services__subtitle {
    text-align: left;
    line-height: 1.6;
  }
  .our-services__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-services__box {
    width: 100%;
    padding: 17rem 17rem 16rem 11.4rem;
  }
  .our-services__box:not(:first-child) {
    margin-left: 0rem;
    margin-bottom: -0.1rem;
  }
  .our-services__box-img {
    width: 31rem;
    height: 25rem;
    margin-bottom: 12rem;
  }
  .our-services__box-title {
    font-size: 5rem;
    line-height: 1;
    margin-bottom: 5rem;
    width: 83%;
  }
  .our-services__box-subtitle {
    font-size: 3.4rem;
    line-height: 1.35;
    margin-top: auto;
    margin-bottom: 8.5rem;
  }
  .our-services__box-link {
    width: 8rem;
    height: 2rem;
  }

  .article-big {
    margin-bottom: 24rem;
  }
  .article-big__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .article-big__text-block {
    width: 100%;
  }
  .article-big__title {
    margin-bottom: 6.7rem;
  }
  .article-big__text {
    font-size: 3.6rem;
    line-height: 1.29;
    margin-bottom: 8rem;
  }
  .article-big__text p:not(:last-child) {
    margin-bottom: 4rem;
  }
  .article-big__img-block {
    width: 100%;
  }
  .article-big__img-block img {
    width: 34.4rem;
    height: 64rem;
  }

  .additionally {
    margin-bottom: 18rem;
  }
  .additionally__title-wrap {
    margin-bottom: 7rem;
  }
  .additionally__title {
    width: 100%;
    margin-bottom: 6rem;
    line-height: 1.4;
  }
  .additionally__btn {
    margin-right: auto;
  }
  .additionally__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .additionally__box {
    width: 100%;
    padding: 0 4.9rem 8rem 0rem;
    border-left: none;
    border-bottom: 0.1rem solid #707070;
  }
  .additionally__box:last-child {
    border-right: 0;
    border-bottom: none;
  }
  .additionally__box:not(:last-child) {
    margin-bottom: 6.5rem;
  }
  .additionally__number-wrap {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 8.5rem;
  }
  .additionally__number {
    font-size: 12rem;
    font-weight: 700;
  }
  .additionally__key {
    font-size: 3rem;
    padding-top: 2rem;
  }
  .additionally__box-title {
    font-size: 5rem;
    margin-bottom: 3.6rem;
  }
  .additionally__box-subtitle {
    font-size: 3.4rem;
    line-height: 1.3;
    width: 80%;
  }
  .additionally.white .additionally__box {
    border-right: none;
    border-bottom: 0.1rem solid #D2D2D2;
    border-left: none;
  }
  .additionally.white .additionally__box:last-child {
    border-right: none;
    border-bottom: none;
  }

  .catalog {
    margin-bottom: 23rem;
  }
  .catalog__down {
    width: 100%;
    margin: 0 auto 25rem auto;
  }
  .catalog__down-title {
    font-size: 3.4rem;
    margin-bottom: 6rem;
  }
  .catalog__arrow-down {
    width: 2rem;
    height: 18rem;
  }
  .catalog__title-wrap {
    margin-bottom: 8rem;
  }
  .catalog__title {
    margin-bottom: 6rem;
  }
  .catalog__btn {
    margin-right: auto;
  }
  .catalog__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 8rem;
  }
  .catalog__box {
    width: 100%;
    padding: 5.2rem 3.6rem 4rem 3.6rem;
    margin-left: 0rem;
  }
  .catalog__box:not(:last-child) {
    margin-top: -0.2rem;
  }
  .catalog__sticker {
    font-size: 3rem;
    padding: 1rem 2rem;
    width: 29rem;
    height: 7rem;
    bottom: 23rem;
  }
  .catalog__box-img {
    width: 100%;
    height: 47rem;
    margin-bottom: 4.5rem;
  }
  .catalog__slide-link {
    width: 9rem;
    height: 1.4rem;
  }
  .catalog__slide-title {
    font-size: 4rem;
    padding-left: 0rem;
  }
  .catalog__btn-more {
    margin: 0 auto 0 0;
  }

  .services-banner {
    margin-bottom: 23rem;
  }
  .services-banner__inner {
    padding-top: 5.6rem;
    margin-bottom: 11rem;
  }
  .services-banner__title {
    padding-bottom: 7rem;
    margin-bottom: 5.6rem;
  }
  .services-banner__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services-banner__about {
    width: 100%;
    margin-bottom: 10rem;
  }
  .services-banner__about-title {
    font-size: 4rem;
    width: 80%;
    margin-bottom: 5.5rem;
    line-height: 1.5;
  }
  .services-banner__about-subtitle {
    font-size: 4rem;
  }
  .services-banner__text-block {
    font-size: 3.6rem;
    line-height: 1.35;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .services-banner__text-block p {
    width: 100%;
  }
  .services-banner__text-block p:not(:last-child) {
    padding-right: 3rem;
    padding-bottom: 4rem;
  }
  .services-banner__photo {
    height: 73.6rem;
    width: 100%;
  }

  .steps {
    padding-top: 0rem;
    margin-bottom: 24rem;
  }
  .steps__title-wrap {
    margin-bottom: 12rem;
  }
  .steps__title {
    margin-bottom: 2.6rem;
  }
  .steps__subtitle {
    letter-spacing: 0.4px;
    text-align: left;
  }
  .steps__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 8rem;
  }
  .steps__box {
    width: 100%;
    height: 72.2rem;
    padding: 9rem 4rem 3rem 8rem;
    margin-left: 0;
    margin-top: 0;
  }
  .steps__box-stage {
    font-size: 12rem;
    margin-bottom: 6rem;
  }
  .steps__box-title {
    font-size: 5rem;
    margin-bottom: 6rem;
  }
  .steps__box-subtitle {
    font-size: 3.4rem;
    line-height: 1.3;
    width: 88%;
  }
  .steps__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .price {
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-bottom: 24rem;
  }
  .price__title-wrap {
    margin-bottom: 8rem;
  }
  .price__title {
    margin-bottom: 2.6rem;
  }
  .price__subtitle {
    letter-spacing: 0.4px;
    width: 100%;
    text-align: left;
  }
  .price__content {
    margin-bottom: 8rem;
  }
  .price__heading-wrap {
    padding-bottom: 2.6rem;
    margin-bottom: 6rem;
  }
  .price__heading {
    font-size: 3.4rem;
  }
  .price__heading:first-child {
    width: 51%;
  }
  .price__heading:last-child {
    width: 48%;
  }
  .price__row {
    padding-bottom: 6rem;
    padding-right: 3rem;
  }
  .price__row:not(:last-child) {
    margin-bottom: 3rem;
  }
  .price__key {
    font-size: 5rem;
    width: 46%;
    margin-right: 3rem;
    line-height: 1.5;
  }
  .price__key sup {
    font-size: 3.4rem;
  }
  .price__value {
    font-size: 5rem;
    font-weight: 700;
    width: 48%;
  }
  .price__btn {
    margin: 0 auto;
  }

  .composition {
    margin-bottom: 22rem;
  }
  .composition__title {
    margin-bottom: 6rem;
  }
  .composition__spoller-title-wrap {
    height: 17rem;
  }
  .composition__spoller-title {
    font-size: 4rem;
  }
  .composition__spoller-img {
    width: 8rem;
    height: 2rem;
  }
  .composition__spoller-content {
    padding-bottom: 6rem;
  }
  .composition__text-block {
    font-size: 3.6rem;
    width: 100%;
    margin-right: 0rem;
  }
  .composition__text-block li {
    padding-left: 5rem;
  }
  .composition__text-block li::before {
    content: "";
    width: 1rem;
    height: 1rem;
    top: 1.5rem;
  }
  .composition__img {
    width: 62.7rem;
    height: 27.5rem;
  }
  .composition__img img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .steps.white {
    background: #ffffff;
    margin-bottom: 22rem;
    padding-top: 0;
  }
  .steps.white .steps__box {
    border: 0.1rem solid #d2d2d2;
  }
  .steps.white .steps__box-stage {
    color: #323232;
  }
  .steps.white .steps__box-title {
    color: #323232;
  }

  .price.white .price__key {
    color: #323232;
  }
  .price.white .price__value {
    color: #323232;
  }

  .our-services.white .our-services__box {
    background: #ffffff;
  }
  .our-services.white .our-services__box:hover {
    background: #323232;
  }
  .our-services.white .our-services__box:hover .our-services__box-title {
    color: #ffffff;
  }
  .our-services.white .our-services__title-wrap {
    margin-bottom: 8rem;
  }
  .our-services.white .our-services__title {
    margin-bottom: 2.5rem;
  }
  .our-services.white .our-services__box-title {
    color: #323232;
  }
  .our-services.white .our-services__btn {
    -ms-flex-item-align: start;
        align-self: start;
  }

  .catalog.catalog--light .catalog__box {
    border: 1px solid #D2D2D2;
  }
  .catalog.catalog--light .catalog__slide-title {
    color: #323232;
    padding-left: 0;
  }

  .banner-about.seo {
    padding-top: 5.6rem;
    margin-bottom: 10rem;
  }
  .banner-about.seo .banner-about__inner {
    display: block;
    margin-bottom: 10.4rem;
  }
  .banner-about.seo .banner-about__substrate {
    width: 115rem;
    height: 77rem;
    top: auto;
    bottom: 0;
    left: 0;
    -webkit-transform: translateX(-42%);
    transform: translateX(-15%);
  }
  .banner-about.seo .banner-about__text-block {
    margin: 0;
    padding-right: 0rem;
    padding-top: 0rem;
  }
  .banner-about.seo .banner-about__title {
    text-align: left;
    margin-bottom: 4rem;
  }
  .banner-about.seo .banner-about__subtitle {
    margin-bottom: 8rem;
    width: 100%;
    text-align: left;
    letter-spacing: normal;
  }
  .banner-about.seo .banner-about__photo-block {
    width: 48rem;
    height: 57rem;
    margin-left: auto;
  }

  .article.dark {
    background: #323232;
  }
  .article.dark::before {
    content: none;
  }

  .projects.page-seo {
    margin-bottom: 22rem;
  }

  .our-services.page-seo {
    padding-top: 0;
    margin-bottom: 21rem;
  }

  .news-banner {
    margin-bottom: 12rem;
    padding-top: 6rem;
  }
  .news-banner__inner {
    padding: 0 0rem;
  }
  .news-banner__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 9rem;
  }
  .news-banner__breadcrumbs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    padding-right: 0rem;
    margin-bottom: 3rem;
  }
  .news-banner__breadcrumbs-item {
    font-size: 3rem;
  }
  .news-banner__breadcrumbs-item:not(:last-child) {
    margin-right: 2rem;
  }
  .news-banner__breadcrumbs-item:not(:last-child)::after {
    width: 0.6rem;
    height: 0.6rem;
    position: absolute;
    top: 50%;
    right: -1rem;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .news-banner__btn.btn--black {
    border: none;
    width: 30rem;
  }
  .news-banner__btn.btn--black img {
    right: auto;
    left: 0rem;
    width: 10rem;
    height: 1.5rem;
  }
  .news-banner__title-wrap {
    width: 100%;
    margin-bottom: 13rem;
  }
  .news-banner__date {
    font-size: 4rem;
    margin-bottom: 3rem;
    text-transform: lowercase;
  }
  .news-banner__title {
    width: 100%;
    letter-spacing: normal;
    line-height: 1.4;
  }
  .news-banner__about-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 12rem;
  }
  .news-banner__social-wrap {
    width: 100%;
    margin-top: 0;
    margin-bottom: 12.6rem;
  }
  .news-banner__subscribe {
    font-size: 3.6rem;
    margin-bottom: 3.6rem;
  }
  .news-banner__social-item {
    width: 5rem;
    height: 5rem;
  }
  .news-banner__social-item:not(:last-child) {
    margin-right: 6rem;
  }
  .news-banner__description {
    width: 100%;
  }
  .news-banner__data-news {
    font-size: 3.6rem;
    margin-bottom: 4rem;
  }
  .news-banner__descrioption-text {
    font-size: 3.6rem;
    line-height: 1.29;
  }
  .news-banner__photo-block {
    height: 72rem;
    width: 100%;
  }
  .news-banner__photo-block img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .news {
    margin-bottom: 25rem;
  }
  .news .container {
    padding: 0;
  }
  .news__content {
    padding: 0 0rem;
    margin-bottom: 24rem;
  }
  .news__title {
    font-size: 4rem;
    line-height: 1.47;
    margin-bottom: 6rem;
    padding: 0 4rem;
  }
  .news__par {
    font-size: 3.4rem;
    line-height: 1.58;
    padding: 0 4rem;
  }
  .news__par:first-child {
    padding-top: 6rem;
  }
  .news__par:not(:last-child) {
    margin-bottom: 3rem;
  }
  .news__par.par-center {
    padding: 9rem 4rem 12rem 4rem;
  }
  .news__par.not-margin {
    margin-bottom: 0;
  }
  .news__list {
    margin-bottom: 13.5rem;
    padding: 9rem 4rem 0 4rem;
  }
  .news__list-title {
    font-size: 4rem;
    line-height: 1.4;
    margin-bottom: 5.5rem;
  }
  .news__list-item {
    padding-left: 5rem;
    font-size: 3.4rem;
    line-height: 1.6;
  }
  .news__list-item:not(:last-child) {
    margin-bottom: 0rem;
  }
  .news__list-item::before {
    width: 0.6rem;
    height: 0.6rem;
    top: 2.8rem;
    left: 2rem;
    background: #808080;
  }
  .news__block-with-photo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 9rem;
    padding-top: 9rem;
  }
  .news__text-wrap {
    width: 100%;
    margin-right: 0rem;
    margin-bottom: 5.7rem;
  }
  .news__img {
    width: 100%;
    height: 72rem;
  }
  .news__quote-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 11.5rem;
  }
  .news__quote-wrap {
    width: 100%;
    padding: 3rem 4rem 0rem 4rem;
  }
  .news__quote-img {
    width: 6rem;
    height: 4rem;
    margin-bottom: 12.5rem;
  }
  .news__quote-text {
    font-size: 4.4rem;
    line-height: 1.5;
    margin-bottom: 12rem;
  }
  .news__quote-author {
    font-size: 3rem;
    letter-spacing: 2px;
    margin-bottom: 7rem;
  }
  .news__par-wrap {
    width: 100%;
  }
  .news__about-news {
    padding: 0 4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news__about-author {
    width: 100%;
    height: 17.6rem;
    padding: 3rem;
    margin-bottom: 10rem;
  }
  .news__author-photo {
    width: 12rem;
    height: 12rem;
    margin-right: 4.6rem;
  }
  .news__author-position {
    font-size: 2.8rem;
    margin-bottom: 1rem;
  }
  .news__author-name {
    font-size: 3.2rem;
  }
  .news__evaluation-block {
    width: 100%;
  }
  .news__evaluation {
    margin-bottom: 8.5rem;
  }
  .news__evaluation-title {
    font-size: 3.8rem;
  }
  .news__evaluation-item {
    width: 6rem;
    height: 6rem;
  }
  .news__evaluation-item:not(:last-child) {
    margin-right: 4rem;
  }
  .news__evaluation-item img {
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .news__social-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .news__subscribe {
    font-size: 3.8rem;
  }
  .news__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news__social-item {
    width: 5rem;
    height: 5rem;
    opacity: 0.4;
  }
  .news__social-item:not(:last-child) {
    margin-right: 6rem;
  }
  .news__social-item img {
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .other-news {
    margin-bottom: 25rem;
  }
  .other-news__inner {
    padding: 0 0rem;
  }
  .other-news__title {
    margin-bottom: 9rem;
    letter-spacing: normal;
  }
  .other-news__content {
    display: grid;
    grid-template-columns: 100%;
    -webkit-column-gap: 0rem;
       -moz-column-gap: 0rem;
            column-gap: 0rem;
    row-gap: 12rem;
  }

  .news-box__img {
    height: 72rem;
    margin-bottom: 8.2rem;
  }
  .news-box__date {
    font-size: 3.4rem;
    padding-bottom: 2.4rem;
    margin-bottom: 4.8rem;
  }
  .news-box__title {
    font-size: 4.8rem;
    margin-bottom: 3.5rem;
  }
  .news-box__subtitle {
    font-size: 3.6rem;
  }
}/*# sourceMappingURL=style.css.map */