@font-face {
  font-family: "Manrope";
  src: url("./../fonts/Manrope-Bold.eot");
  src: local("Manrope Bold"), local("Manrope-Bold"), url("./../fonts/Manrope-Bold.eot?#iefix") format("embedded-opentype"), url("./../fonts/Manrope-Bold.woff2") format("woff2"), url("./../fonts/Manrope-Bold.woff") format("woff"), url("./../fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("./../fonts/Manrope-Semibold.eot");
  src: local("Manrope Semibold"), local("Manrope-Semibold"), url("./../fonts/Manrope-Semibold.eot?#iefix") format("embedded-opentype"), url("./../fonts/Manrope-Semibold.woff2") format("woff2"), url("./../fonts/Manrope-Semibold.woff") format("woff"), url("./../fonts/Manrope-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("./../fonts/Manrope-Regular.eot");
  src: local("Manrope Regular"), local("Manrope-Regular"), url("./../fonts/Manrope-Regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/Manrope-Regular.woff2") format("woff2"), url("./../fonts/Manrope-Regular.woff") format("woff"), url("./../fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("./../fonts/Manrope-Medium.eot");
  src: local("Manrope Medium"), local("Manrope-Medium"), url("./../fonts/Manrope-Medium.eot?#iefix") format("embedded-opentype"), url("./../fonts/Manrope-Medium.woff2") format("woff2"), url("./../fonts/Manrope-Medium.woff") format("woff"), url("./../fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
.container {
  width: 1440px;
  margin: 0 auto;
}

.registration {
  width: 100%;
}
.registration__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.registration__left-block {
  width: 51.5%;
  padding-top: 163px;
  padding-left: 172px;
}
.registration__title {
  font-size: 48px;
  font-weight: 700;
  color: #23262F;
  letter-spacing: -0.19vw;
  margin-bottom: 42px;
}
.registration__form {
  width: 397px;
}
.registration__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px 21px;
  margin-bottom: 11px;
}
.registration__label {
  font-size: 13px;
  font-weight: 500;
  color: #777E90;
  width: 100%;
}
.registration__label span {
  display: inline-block;
  margin-bottom: 13px;
  position: relative;
}
.registration__label span:not(.not-necessary)::after {
  content: "*";
  color: #D11A2A;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  top: 0;
  right: -10px;
}
.registration__label sup {
  color: #D11A2A;
}
.registration__label:nth-child(5), .registration__label:nth-child(6) {
  grid-column: 1/3;
}
.registration__label.password {
  position: relative;
}
.registration .password-control {
  position: absolute;
  bottom: 10px;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 27px;
  height: 20px;
  background: url(./../img/eye.svg) 0 0 no-repeat;
}
.registration .password-control.view {
  background: url(./../img/eye4.svg) 0 0 no-repeat;
}
.registration__input {
  height: 56px;
  width: 100%;
  padding: 0 20px;
  background: #F4F5F6;
  border-radius: 8px;
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #23262F;
}
.registration__input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #23262F;
}
.registration__input::-moz-placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #23262F;
}
.registration__input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #23262F;
}
.registration__input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #23262F;
}
.registration__input::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #23262F;
}
.registration__input:focus:invalid {
  border: 1px solid #D11A2A;
}
.registration__warning {
  font-size: 13px;
  font-weight: 500;
  color: #000000;
  line-height: 1.76;
  letter-spacing: -0.07vh;
  margin-bottom: 22px;
}
.registration__warning a {
  color: #D11A2A;
}
.registration__required {
  font-size: 13px;
  font-weight: 500;
  color: #777E90;
  letter-spacing: -0.1vh;
  padding-left: 10px;
  margin-bottom: 40px;
  position: relative;
}
.registration__required::before {
  content: "*";
  color: #D11A2A;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: -2px;
}
.registration__select-label {
  font-size: 13px;
  font-weight: 500;
  color: #777E90;
  letter-spacing: -0.123vh;
  padding-left: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-bottom: 25px;
}
.registration__checkbox-style {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background: #F4F5F6;
  margin-left: -35px;
}
.registration__checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.registration__checkbox-input:checked + .registration__checkbox-style::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background: #06B966;
  background-image: url(./../img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12.5px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.registration__btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 56px;
  border: none;
  cursor: pointer;
  background: #D11A2A;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 20px 25px rgba(209, 26, 42, 0.15);
          box-shadow: 0px 20px 25px rgba(209, 26, 42, 0.15);
  border-radius: 12px;
}
.registration__btn:hover {
  background: #E02535;
  -webkit-box-shadow: 0px 20px 25px rgba(209, 26, 42, 0.15);
          box-shadow: 0px 20px 25px rgba(209, 26, 42, 0.15);
}
.registration__btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.registration__btn:disabled {
  background: #B8BABF;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.registration__img-block {
  width: 48.5%;
  height: 1114px;
}
.registration__img-block img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mobile {
  display: none;
}

@media (max-width: 1440px) {
  .container {
    width: 100vw;
  }
}
@media (max-width: 1300px) {
  .registration__left-block {
    padding-top: 163px;
    padding-left: 0;
  }

  .registration__form {
    margin: 0 auto;
  }
}
@media (max-width: 860px) {
  .desctop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .registration .container {
    padding: 0 16px;
  }
  .registration__left-block {
    width: 100%;
    padding-top: 30px;
    padding-left: 0;
    padding-bottom: 40px;
  }
  .registration__title {
    letter-spacing: -0.19vw;
    margin-bottom: 30px;
  }
  .registration__form {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */