.mobile {
    display: none;
}

@media (max-width: 1440px) {
    .container {
        width: 100vw;
    }
}

@media (max-width: 1300px) {

    .registration__left-block {
        padding-top: 163px;
        padding-left: 0;
    }

    .registration__form {
        margin: 0 auto;
    }
}

@media (max-width: 860px) {

    .desctop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .registration {

        .container {
            padding: 0 16px;
        }

        &__left-block {
            width: 100%;
            padding-top: 30px;
            padding-left: 0;
            padding-bottom: 40px;
        }

        &__title {
            letter-spacing: -0.19vw;
            margin-bottom: 30px;
        }

        &__form {
            width: 100%;
        }
    }
}