.mobile {
    display: none;
}


@media (max-width: 48em) {

    .desctop {
        display: none;
    }

    .mobile {
        display: block;
    }


    .header {


        &__inner {
            padding-bottom: 6rem;
            border-bottom: 0.1rem solid rgba(96, 96, 96, 1);
        }

        &__logo {
            width: 21.2rem;
            height: 11.6rem;
        }

        &__btn {
            width: 10.6rem;
            height: 7rem;

            img {
                height: 100%;
                object-fit: contain;
            }
        }

        &__tel {
            font-size: 0;
            width: 6.8rem;
            height: 6.8rem;

            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 100%;
                object-fit: contain;
            }
        }


        &__menu {
            width: 100%;
            height: 100%;
            padding-bottom: 11.2rem;

            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            transition: ease 0.8s;
            background: rgba(50, 50, 50, 1);
            z-index: 1000;
            overflow-y: auto;

            transform: translateX(-100%);

            &.active {
                transform: translateX(0);
            }

            &.on-white-page {
                .header__nav-item {
                    color: rgba(255, 255, 255, 1);
                }
            }

        }

        &__top {
            padding: 4.4rem 4rem 5rem 4rem;
            border-bottom: 0.1rem solid rgba(96, 96, 96, 1);
            display: flex;
            align-items: center;
            justify-content: space-between;

        }

        &__btn-mob {
            padding: 0 4rem;
            margin: 0 4rem 10rem 4rem;
        }

        &__logo {}


        &__tel {}

        &__navigation {
            padding: 10rem 4rem;


        }

        &__nav-list {
            flex-direction: column;
            align-items: start;


        }

        &__nav-item {
            font-size: 4rem;
            color: rgba(255, 255, 255, 1);

            &:not(:last-child) {
                margin-bottom: 8rem;
            }

        }


        &__contact {
            padding: 10rem 4rem 10rem 4rem;
            margin-bottom: 10rem;
            border-top: 0.1rem solid rgba(112, 112, 112, 1);
            border-bottom: 0.1rem solid rgba(112, 112, 112, 1);

        }

        &__contact-item {

            &:not(:last-child) {
                margin-bottom: 10rem;
            }
        }

        &__contact-name {
            font-size: 3.6rem;
            font-weight: 400;
            color: rgba(123, 123, 123, 1);
            margin-bottom: 2.4rem;
        }

        &__contact-value {
            font-size: 4re;
            font-weight: 800;
            color: rgba(255, 255, 255, 1);

        }

        &__social {
            padding: 0 4rem;
            display: flex;
            opacity: 0.4;
            align-items: center;

        }

        &__social-item {
            width: 6rem;
            height: 6rem;

            &:not(:last-child) {
                margin-right: 8rem;
            }

            img {
                height: 100%;
                object-fit: contain;
            }

        }
    }


    .banner {
        position: relative;
        padding-bottom: 44rem;

        &::before {
            content: "";
            width: 45.8rem;
            height: 45.8rem;
            border-radius: 50%;
            background: #FFFFFF;
            opacity: 0.2;
            filter: blur(20rem);

            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateX(-50%);
        }

        &__inner {
            position: relative;
        }

        &__img-arrow {
            width: 1rem;
            height: 9rem;
            object-fit: contain;

            position: absolute;
            top: 0;
            left: 47.5%;
            z-index: 10;
        }

        &__slider {
            width: 100%;
            padding-top: 5.2rem;
            padding-bottom: 10rem;
        }

        &__slide {
            flex-direction: column-reverse;
        }

        &__left-block {
            width: 100%;
            padding: 0rem 0 9rem 0rem;
            margin-right: 0rem;

            &::after {
                content: none;
            }

            &::before {
                height: 0.1rem;
                width: 100%;
                top: auto;
                bottom: 1rem;
            }
        }



        &__left-item-img {
            width: 7rem;
            height: 7rem;

            &:not(:last-child) {
                margin-bottom: 4rem;
            }
        }

        &__left-item-title {
            font-size: 4rem;
            margin-bottom: 1.6rem;
        }

        &__left-item-subtitle {
            font-size: 3.6rem;
            width: 80%;
            padding-bottom: 0rem;
            margin-bottom: 5rem;
        }

        &__bg-block {
            height: 76rem;
            margin-bottom: 8rem;

            justify-content: flex-start;
        }

        &__slide-bg {
            width: 61.4rem;
            height: 100%;
        }

        &__title-block {
            width: 100%;
            padding-bottom: 3rem;
            position: relative;
        }

        &__title {
            font-size: 6rem;
            width: 57%;
            margin-left: auto;
        }

        &__control {
            bottom: 2rem;
            right: 0rem;
        }

        &__pagination {
            top: auto;
            right: auto;
            left: -6rem;
            bottom: 1rem;
        }
    }


    .projects {

        &__title-wrap {
            flex-direction: column;
            align-items: start;

            margin-bottom: 8rem;
        }

        &__title {
            font-size: 6rem;
            width: 100%;
            margin-bottom: 6rem;
        }

        &__slider {
            margin-bottom: 8rem;
        }

        &__slide {
            padding: 5.2rem 3.6rem 3.6rem 3.6rem;
            width: 75rem;
        }

        &__slide-sticker {
            font-size: 3rem;

            width: 25rem;
            height: 7rem;
            bottom: 22.6rem;
        }

        &__slide-img {
            height: 47.4rem;
            margin-bottom: 4rem;
        }

        &__slide-title {
            font-size: 4rem;
        }

        &__slide-link {
            width: 9rem;
            height: 1.4rem;
        }

        &__control {
            margin: 0;
        }
    }


    .whom {
        padding-top: 24.7rem;
        padding-bottom: 20rem;
        position: relative;

        .container {
            padding: 0;
        }

        &::before {
            top: 100%;
            right: 0;
        }

        &__title-wrap {
            margin-bottom: 8.3rem;
            padding: 0 4rem;
        }

        &__title {
            margin-bottom: 3.5rem;
        }

        &__subtitle {
            text-align: left;
            line-height: 1.7;
        }

        &__content {
            overflow-x: scroll;
            padding-left: 4rem;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &__box {
            width: 60.8rem;
            flex-shrink: 0;
            position: relative;
            padding: 4rem 5.2rem 4rem 4rem;

            &:hover {
                transform: translateY(0);
                z-index: 10;
            }

            &::after {
                bottom: 0.1rem;
            }
        }

        &__img-letter {
            width: 14rem;
            height: 16rem;
            margin-bottom: 11rem;
        }

        &__box-title {
            font-size: 4rem;
            margin-bottom: 2.4rem;
        }

        &__box-subtitle {
            font-size: 3.6rem;
        }
    }


    .numbers {
        padding-bottom: 29.4rem;
        height: auto;
        margin: 0;
        position: relative;

        .container {
            padding: 0;
        }

        &__bg {
            top: 0.3rem;
        }

        &__bg-letters {
            width: 100%;
            height: 49.5rem;
            left: 50%;
            transform: translate(-51%, 59%);
        }

        &__inner {
            padding: 0 4rem;
        }

        &__title {
            padding-top: 0;
            margin-bottom: 10rem;
        }

        &__content {
            margin-left: 10.8rem;
        }

        &__item {

            &:first-child {
                margin-left: 0;
                margin-bottom: 11.8rem;
            }


            &:nth-child(2) {
                margin-left: 0;
                margin-bottom: 10rem;
            }

            &:nth-child(3) {
                margin-left: 0;
                margin-bottom: 13.4rem;
            }

            &:nth-child(4) {
                margin-left: 0;
            }
        }

        &__value {
            font-size: 6rem;
            margin-bottom: 0.5rem;

        }

        &__description {
            font-size: 3.6rem;

            position: relative;

            &::before {
                width: 1.6rem;
                height: 1.6rem;
                left: -7.4rem;
                top: -1.5rem;
            }
        }
    }


    .services {
        padding-top: 55rem;
        padding-bottom: 26.5rem;

        &__title-wrap {
            margin-bottom: 8rem;
        }

        &__title {
            margin-bottom: 6rem;
        }

        &__btn {
            margin-right: auto;
        }

        &__content-top {
            flex-wrap: wrap;
            margin-bottom: 4rem;
        }

        &__box {
            width: 50%;
        }

        &__box-inner {
            padding: 7rem 4.1rem 8.7rem 3.5rem;
        }

        &__box-info {
            margin-bottom: 5rem;
        }

        &__box-number {
            font-size: 12rem;
        }

        &__box-name {
            font-size: 3rem;
        }

        &__box-title {
            font-size: 4rem;
            margin-bottom: 3.4rem;
            width: 100%;
        }

        &__box-subtitle {
            font-size: 3.6rem;
            margin-bottom: 6.5rem;
            padding-right: 0.5rem;
            line-height: 1.27;
        }

        &__box-link {
            height: 1.5rem;
            width: 9rem;
        }

        &__content-bottom {
            border-top: 1px solid rgba(210, 210, 210, 0.7);
            padding: 6.6rem 6rem 8rem 3.4rem;
            flex-direction: column;
        }

        &__bottom-numbers-wrap {
            width: 100%;
            padding-right: 0rem;
            margin-right: 0rem;
            align-self: start;
            display: flex;
            align-items: center;
            margin-bottom: 7.6rem;
        }

        &__bottom-number {
            @include text (6rem, 700, #323232);
            margin-bottom: 0;
            margin-right: 3rem;
        }

        &__bottom-number-subtitle {
            font-size: 3.6rem;
        }

        &__bottom-title {
            font-size: 4rem;
            margin-bottom: 3.4rem;
        }

        &__bottom-text {
            font-size: 3.6rem;
            flex-direction: column;
            line-height: 1.27;

            p {
                &:not(:last-child) {
                    margin-right: 0rem;
                    margin-bottom: 4rem;
                }
            }
        }
    }


    .article {
        margin-bottom: 27rem;

        &::before {
            height: 8rem;
        }

        &__inner {
            flex-direction: column
        }

        &__sticker {
            font-size: 3.6rem;

            width: 32.8rem;
            height: 9rem;
            padding: 0 3rem;

            position: absolute;
            bottom: 7.5rem;
            right: auto;
            left: 0;
        }

        &__content {
            padding: 8rem 2rem 10rem 3.8rem;
            width: 100%;
        }

        &__text {
            font-size: 3.6rem;
            line-height: 1.35;
            padding: 10rem 0 4.7rem;
            position: relative;
            width: 100%;
            margin-bottom: 4.5rem;
        }

        &__quotes {
            width: 6rem;
            height: 5rem;
            object-fit: contain;

            position: absolute;

            &:first-child {
                top: 0;
                left: 0;
            }

            &:nth-child(2) {
                bottom: -1.5rem;
                right: 2.5rem;
                transform: rotate(180deg);
            }
        }

        &__author-info {
            display: flex;
            position: relative;
        }

        &__author-wrap {
            margin-right: 0rem;
            margin-bottom: 0rem;
        }

        &__author {
            font-size: 6rem;
            margin-bottom: 0rem;
        }

        &__position {
            font-size: 3.6rem;
        }

        &__author-signature {
            width: 17rem;
            height: 17rem;
            padding-top: 0rem;
            position: absolute;
            right: 2rem;
            bottom: -11rem;
        }

        &__photo {
            width: 100%;
            height: 100%;
        }
    }



    .process {
        margin-bottom: 26rem;

        &__title {
            margin-bottom: 6rem;
        }


        &__slide {
            flex-direction: column;
        }

        &__slide-text {
            width: 100%;
            padding: 4.8rem 15rem 7.5rem 3rem;
            display: flex;
            flex-direction: column;
        }

        &__box-info {
            display: flex;
            align-items: center;
            margin-bottom: 3.5rem;
        }

        &__box-number {
            font-size: 12rem;
            margin-right: 1rem;
        }

        &__box-name {
            font-size: 3.6rem;
        }

        &__box-title {
            font-size: 4rem;
            width: 100%;
            margin-bottom: 2.7rem;
        }

        &__box-subtitle {
            font-size: 3.6rem;
            margin-bottom: 9.6rem;
            line-height: 1.3;
        }

        &__slide-photo {
            width: 100%;
            height: 67.2rem;
        }

        &__control {
            margin-top: auto;
        }
    }


    .reviews {
        margin-bottom: 26rem;

        &__title-wrap {
            margin-bottom: 5.4rem;
        }

        &__title {
            width: 100%;
            margin-bottom: 5rem;
            line-height: 1.46;
        }

        &__btn {
            margin-right: 3rem;
            margin-right: auto;
        }

        &__slider {
            border: 0.1rem solid #707070;
            margin-bottom: 9.5rem;
        }

        &__slide {
            border-left: 0.1rem solid #707070;
            flex-direction: column-reverse;
            width: 100%;
        }

        &__sticker {
            font-size: 3.4rem;
            width: 32.8rem;
            height: 7.2rem;

            position: absolute;
            left: 0;
            bottom: 7rem;
            justify-content: flex-start;
            padding: 0 3rem;
        }

        &__box-link {
            width: 8rem;
            height: 2rem;

            bottom: 10rem;
            right: 5rem;

            img {
                height: 100%;
                object-fit: contain;
            }
        }

        &__content {
            padding: 7rem 2rem 23rem 3rem;
            width: 100%;
        }

        &__slide-title {
            font-size: 4rem;
            margin-bottom: 3.7rem;
        }

        &__slide-subtitle {
            font-size: 3.6rem;
            margin-bottom: 0rem;
            line-height: 1.25;
        }

        &__photo-block {
            height: 58rem;
            width: 100%;
            align-self: center;
            padding-top: 6rem;
            margin-right: 5rem;
        }

        &__control {
            margin: 0 auto 0 0;
        }
    }


    .feedback {
        position: relative;
        overflow: hidden;

        &::before {
            top: 30rem;
            right: 0;
            left: auto;
            transform: translateX(50%);
        }

        &__inner {
            flex-direction: column;
        }

        &__content {
            width: 100%;
        }


        &__title {
            font-size: 6rem;
            margin-bottom: 4rem;
            line-height: 1.45;
        }

        &__title-smile {
            width: 3rem;
            height: 5.6rem;
            position: absolute;
            right: -5rem;
            top: 1.2rem;
        }

        &__subtitle {
            font-size: 3.6rem;
            margin-bottom: 12rem;
            width: 94%;
            line-height: 1.3;
        }

        &__contact {
            width: 100%;

            &.mobile {
                display: flex;
            }
        }

        &__contact-item {
            padding-right: 2rem;
        }

        &__contact-name {
            font-size: 3.6rem;
            margin-bottom: 1.8rem;
        }

        &__contact-value {
            font-size: 4rem;
        }

        &__form {
            color: #ffffff;
            width: 100%;
            margin-bottom: 12rem;
        }

        &__inputs {
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 0rem;
            row-gap: 10rem;
            margin-bottom: 10rem;
        }

        &__form-label {

            &:nth-child(1) {
                grid-column: 1/2;
            }

            &:nth-child(2) {
                grid-column: 1/2;
            }

            &:nth-child(3) {
                grid-column: 1/2;
            }

            &:nth-child(4) {
                grid-column: 1/2;
            }
        }

        &__form-input {
            font-size: 4rem;
            padding-bottom: 2.4rem;

            border-bottom: 0.1rem solid #ffffff;
            width: 100%;

            &::placeholder {
                font-size: 4rem;
            }
        }

        &__input-name {
            font-size: 3.6rem;
            margin-bottom: 2rem;
        }

        &__form-bottom {
            flex-direction: column-reverse;
            align-items: start;
        }

        &__form-attach {
            font-size: 3.6rem;
            margin-right: 0rem;
            margin-bottom: 8rem;

            img {
                width: 6rem;
                height: 6rem;
                margin-right: 4rem;
            }
        }
    }



    .footer {
        padding-top: 24rem;
        padding-bottom: 10rem;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            width: 45.8rem;
            height: 45.8rem;
            border-radius: 50%;
            background: #FFFFFF;
            opacity: 0.2;
            filter: blur(20rem);

            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(50%, 80%);
        }


        .container {
            width: 100%;
            padding: 0;
        }


        &__inner {}

        &__top {
            padding: 10rem 4rem 9rem 4rem;
            margin-bottom: 3rem;

            flex-direction: column;

        }

        &__logo {
            width: 26rem;
            height: 14.2rem;
            margin-right: 0rem;
            margin-bottom: 14.6rem;
        }

        &__nav-list {
            flex-direction: column;

            font-size: 4rem;
            margin-bottom: 15.2rem;
        }

        &__nav-item {

            &:not(:last-child) {
                margin-right: 0rem;
                margin-bottom: 9rem;
            }
        }

        &__social-item {
            width: 6rem;
            height: 6rem;

            &:not(:last-child) {
                margin-right: 7.4rem;
            }
        }

        &__bottom {
            flex-direction: column;
            padding: 7rem 4rem;
        }

        &__small {
            font-size: 3.6rem;
            margin-bottom: 10rem;
        }

        &__dev {
            flex-direction: column;
        }

        &__dev-name {
            margin-right: 0rem;
        }

        &__dev-name-key {
            font-size: 3.2rem;
            margin-bottom: 1.2rem;
            text-align: center;
        }

        &__dev-name-value {
            font-size: 4rem;

            span {
                font-size: 4rem;
            }
        }

        &__dev-logo {
            width: 12rem;
            height: 12rem;
        }
    }

    .banner-about {
        margin-bottom: 9rem;
        padding-bottom: 15rem;

        &::before {
            content: "";
            width: 45.8rem;
            height: 45.8rem;
            border-radius: 50%;
            background: #FFFFFF;
            opacity: 0.2;
            filter: blur(20rem);

            position: absolute;
            bottom: -20rem;
            left: 0;
            transform: translateX(-50%);
        }

        &__inner {
            padding-top: 5.6rem;
        }

        &__substrate {
            position: absolute;
            width: 100%;
            height: 50.8rem;
            opacity: 0.04;

            top: auto;
            left: 0;
            bottom: 0;
            transform: translateX(0);
        }

        &__img-arrow {
            width: 2rem;
            height: 18rem;
        }


        &__text-block {
            width: 100%;
            margin: 0 auto 10rem auto;
        }

        &__title {
            font-size: 6rem;
            line-height: 1.46;
            margin-bottom: 10rem;
        }

        &__subtitle {
            font-size: 3.6rem;
            text-align: center;
            line-height: 1.22;
            letter-spacing: -0.5px;
        }
    }


    .about {
        margin-bottom: 25rem;

        &__inner {
            display: grid;
            grid-template-columns: 100%;
            column-gap: 0rem;
            row-gap: 12.5rem;
        }

        &__box {
            width: 100%;
            display: grid;
            grid-template-columns: 18rem 51rem;
            grid-template-rows: 20% 68%;
            row-gap: 4rem;
            column-gap: 6rem;

            &:nth-child(1) {
                .about__box-img {
                    width: 100%;
                }
            }

            &:nth-child(2) {
                .about__box-img {
                    width: 100%;
                }
            }

            &:nth-child(3) {
                .about__box-img {
                    width: 100%;
                }
            }

            &:nth-child(5) {
                .about__box-img {
                    width: 100%;
                }
            }
        }

        &__box-img {
            width: 100%;
            height: 18rem;
            margin-bottom: 4rem;
            grid-row: 1/3;
            grid-column: 1/2;

            img {
                height: 100%;
                object-fit: contain
            }
        }

        &__box-title {
            letter-spacing: 3px;
            margin-bottom: 0rem;
            text-transform: uppercase;
        }

        &__subtitle {
            font-size: 3.6rem;
            margin-top: 0;
            line-height: 1.3;
            grid-column: 2/3;
        }
    }



    .article.page-about {
        background: inherit;
        margin-bottom: 25rem;

        &::before {
            content: none;
        }

        .article {

            &__wrapper {
                background: #F2F2F2;
                padding: 8rem 0rem 0rem 0rem;
            }

            &__title {
                font-size: 6rem;
                color: #323232;
                margin-bottom: 8.6rem;
                padding: 0 4rem;
            }

            &__inner {
                align-items: center;
                padding: 0 4rem 33rem 4rem;
            }

            &__text {
                width: 100%;
                font-size: 3.4rem;
            }

            &__quotes:nth-child(2) {
                bottom: -2.5rem;
                right: 1.5rem;
            }

            &__content {
                padding: 0;
                margin-bottom: 18rem;
            }

            &__photo {
                width: 62.8rem;
                height: 34rem;
                margin: 0 auto;
            }

            &__sticker {
                bottom: 6rem;
            }
        }
    }


    .partners-line {
        margin-bottom: 24.5rem;
        overflow-x: hidden;

        &__slider {
            margin-bottom: 11rem;
            overflow: visible;
        }

        &__slide {
            width: 50rem;
            height: 17rem;
        }

        &__control {
            margin: 0;
        }
    }


    .partners {
        margin-bottom: 24rem;
        position: relative;

        &::before {
            content: "";
            width: 45.8rem;
            height: 45.8rem;
            border-radius: 50%;
            background: #FFFFFF;
            opacity: 0.2;
            filter: blur(20rem);

            position: absolute;
            bottom: -20rem;
            left: 0;
            transform: translateX(-50%);
        }

        &::after {
            content: "";
            width: 25rem;
            height: 45.8rem;
            border-radius: 50% 0 0 50%;
            background: #FFFFFF;
            opacity: 0.2;
            filter: blur(20rem);

            position: absolute;
            top: -70%;
            right: 0;
        }

        &__title {
            margin-bottom: 14rem;
        }

        &__content {
            display: grid;
            grid-template-columns: repeat(2, 50%);
        }

        &__box {
            width: 100%;
            height: 28.8rem;

            &:not(:first-child) {
                margin-left: -0.1rem;
            }

            &:not(:nth-child(-n+5)) {
                margin-top: -0.1rem;
            }

            img {
                width: 23.6rem;
                height: 18rem;
            }


            &:hover {
                transform: translateY(-5rem);
            }
        }
    }



    .awards {
        padding-top: 24rem;
        padding-bottom: 22.4rem;
        margin-bottom: 21.5rem;

        &__slider {
            position: relative;
        }

        &__slide {
            flex-direction: column;
        }

        &__slide-img {
            width: 100%;
            margin-bottom: 13.6rem;

            img {
                width: 30rem;
                height: 83.6rem;
            }
        }

        &__slide-text-block {
            width: 100%;
            padding-top: 0rem;
            margin-bottom: 12rem;
        }

        &__slide-title {
            font-size: 6rem;
            margin-bottom: 6rem;
        }

        &__slide-paragraphs {
            flex-direction: column;
            font-size: 3.6rem;
            line-height: 1.35;
        }

        &__slide-text-column {

            &:nth-child(1) {
                width: 100%;
            }

            &:nth-child(2) {
                width: 100%;
            }

            &:not(:last-child) {
                margin-right: 0rem;
            }

            p {
                &:not(:last-child) {
                    margin-bottom: 4rem;
                }
            }
        }

        &__control {
            position: static;

            z-index: 10;
        }
    }

    .header--dark {
        .header__inner {
            border-bottom: 0.1rem solid rgba(210, 210, 210, 0.7);
        }
    }

    .banner-project {
        padding-top: 0rem;
        margin-bottom: 24.5rem;

        &__title-block {
            padding-top: 5.6rem;
            padding-bottom: 6rem;
            margin-bottom: 5.6rem;
            border-bottom: 0.1rem solid rgba(210, 210, 210, 0.7);
        }

        &__subtitle {
            font-size: 3.6rem;
            letter-spacing: 0.8px;
            margin-bottom: 3.6rem;
        }

        &__title {
            width: 100%;
        }

        &__slider {
            margin-bottom: 8rem;
            height: 72rem;
        }

        &__slide {
            height: 61.3rem;

            &.swiper-slide-active {
                height: 100%;
            }
        }
    }

    .about-project {
        margin-bottom: 24rem;

        &__text-block {
            flex-direction: column;
            margin-bottom: 25rem;
        }

        &__left-block {
            width: 100%;
            padding-right: 0rem;
            padding-top: 0rem;
            margin-bottom: 8rem;
        }

        &__subtitle {
            font-size: 3.6rem;
            margin-bottom: 2rem;
        }

        &__title {
            width: 100%;
            margin-bottom: 3rem;
        }

        &__par {
            font-size: 3.4rem;
            line-height: 1.36;
        }

        &__right-block {
            width: 100%;

            display: grid;
            grid-template-columns: 1fr;
            column-gap: 0rem;
        }

        &__item {
            width: 100%;
            padding: 5rem 4rem 4.5rem 0;
            border-top: 1px solid rgba(210, 210, 210, 0.7);

            &:not(:nth-child(-n+2)) {
                border-bottom: none;
            }

            &:last-child {
                border-bottom: 1px solid rgba(210, 210, 210, 0.7);
            }

            &:nth-child(3) {
                grid-row: 2/3;
            }
        }

        &__item-subtitle {
            font-size: 3.5rem;
            margin-bottom: 5rem;
        }

        &__item-title {
            font-size: 5rem;
        }

        &__photo {
            height: 72rem;
        }
    }

    .project-description {
        margin-bottom: 27rem;

        &__task {
            flex-direction: column;
            margin-bottom: 0;
        }

        &__img-block {
            width: 100%;
            height: 48rem;
            margin-bottom: 7rem;

            img {
                width: 34.4rem;
            }
        }

        &__text-block {
            padding-right: 0rem;
            padding-top: 0rem;
            width: 100%;
            margin-bottom: 12rem;
        }

        &__title {
            width: 100%;
            margin-bottom: 3rem;
        }

        &__par-wrap {
            width: 100%;
        }

        .par-wrap {
            font-size: 3.4rem;
            line-height: 1.35;
            letter-spacing: 0.58px;

            p {
                &:not(:last-child) {
                    margin-bottom: 4rem;
                }
            }
        }

        &__center-blocks {
            flex-direction: column;
            margin-bottom: 0rem;

            .project-description__text-block {
                width: 100%;
                padding-top: 0;
            }

            .project-description__par-wrap {
                width: 100%;
            }
        }

        &__left-item {
            width: 100%;
        }

        &__img-small {
            width: 100%;
            height: 48rem;
            margin-bottom: 8rem;
        }

        &__right-item {
            width: 100%;
        }

        &__img-big {
            width: 100%;
            height: 48rem;
            margin-bottom: 8rem;
        }

        &__big-block {
            width: 100%;

            .project-description__text-block {
                flex-direction: column;
                padding-top: 0;
                width: 100%;
                padding-right: 0;
            }

            .project-description__title {
                width: 100%;
                padding-right: 4rem;
            }

            .project-description__par-wrap {
                text-align: left;
            }
        }

        &__big-block-img {
            width: 100%;
            height: 48rem;
            margin-bottom: 8rem;
        }
    }

    .video {
        width: 100%;
        height: 72rem;
        position: relative;
        margin-bottom: 25rem;

        &__play {
            width: 38.8rem;
            height: 38.8rem;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &__btn-img {
            height: 100%;
            object-fit: contain;
        }

        &__file {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    .our-services {
        padding-top: 5.6rem;
        margin-bottom: 22.5rem;

        &__title-wrap {
            margin-bottom: 24rem;
        }

        &__title {
            margin-bottom: 4rem;
        }

        &__subtitle {
            text-align: left;
            line-height: 1.6;
        }

        &__content {
            flex-direction: column;
        }

        &__box {
            width: 100%;
            padding: 17rem 17rem 16rem 11.4rem;

            &:not(:first-child) {
                margin-left: -0rem;
                margin-bottom: -0.1rem;
            }
        }

        &__box-img {
            width: 31rem;
            height: 25rem;
            margin-bottom: 12rem;
        }

        &__box-title {
            font-size: 5rem;
            line-height: 1;
            margin-bottom: 5rem;
            width: 83%;
        }

        &__box-subtitle {
            font-size: 3.4rem;
            line-height: 1.35;
            margin-top: auto;
            margin-bottom: 8.5rem;
        }

        &__box-link {
            width: 8rem;
            height: 2rem;
        }
    }


    .article-big {
        margin-bottom: 24rem;

        &__inner {
            flex-direction: column;
        }

        &__text-block {
            width: 100%;
        }

        &__title {
            margin-bottom: 6.7rem;
        }

        &__text {
            font-size: 3.6rem;
            line-height: 1.29;
            margin-bottom: 8rem;

            p {
                &:not(:last-child) {
                    margin-bottom: 4rem;
                }
            }
        }

        &__img-block {
            width: 100%;

            img {
                width: 34.4rem;
                height: 64rem;
            }
        }
    }


    .additionally {
        margin-bottom: 18rem;

        &__title-wrap {
            margin-bottom: 7rem;
        }

        &__title {
            width: 100%;
            margin-bottom: 6rem;
            line-height: 1.4;
        }

        &__btn {
            margin-right: auto;
        }

        &__content {
            display: flex;
            flex-direction: column;
        }

        &__box {
            width: 100%;
            padding: 0 4.9rem 8rem 0rem;
            border-left: none;
            border-bottom: 0.1rem solid #707070;


            &:last-child {
                border-right: 0;
                border-bottom: none;
            }

            &:not(:last-child) {
                margin-bottom: 6.5rem;
            }
        }

        &__number-wrap {
            display: inline-flex;
            align-items: center;
            margin-bottom: 8.5rem;
        }

        &__number {
            font-size: 12rem;
            font-weight: 700;
        }

        &__key {
            font-size: 3rem;
            padding-top: 2rem;
        }

        &__box-title {
            font-size: 5rem;
            margin-bottom: 3.6rem;
        }

        &__box-subtitle {
            font-size: 3.4rem;
            line-height: 1.3;
            width: 80%;
        }

        &.white {

            .additionally__box {
                border-right: none;
                border-bottom: 0.1rem solid #D2D2D2;
                border-left: none;

                &:last-child {
                    border-right: none;
                    border-bottom: none;
                }
            }
        }
    }



    .catalog {
        margin-bottom: 23rem;

        &__down {
            width: 100%;
            margin: 0 auto 25rem auto;
        }

        &__down-title {
            font-size: 3.4rem;
            margin-bottom: 6rem;
        }

        &__arrow-down {
            width: 2rem;
            height: 18rem;
        }

        &__title-wrap {
            margin-bottom: 8rem;
        }

        &__title {
            margin-bottom: 6rem;
        }

        &__btn {
            margin-right: auto;
        }

        &__content {
            flex-direction: column;
            margin-bottom: 8rem;
        }

        &__box {
            width: 100%;

            padding: 5.2rem 3.6rem 4rem 3.6rem;

            margin-left: 0rem;

            &:not(:last-child) {
                margin-top: -0.2rem;
            }
        }

        &__sticker {
            font-size: 3rem;
            padding: 1rem 2rem;
            width: 29rem;
            height: 7rem;
            bottom: 23rem;
        }

        &__box-img {
            width: 100%;
            height: 47rem;
            margin-bottom: 4.5rem;
        }

        &__slide-link {
            width: 9rem;
            height: 1.4rem;
        }

        &__slide-title {
            font-size: 4rem;
            padding-left: 0rem;
        }

        &__btn-more {
            margin: 0 auto 0 0;
        }
    }



    .services-banner {
        margin-bottom: 23rem;

        &__inner {
            padding-top: 5.6rem;
            margin-bottom: 11rem;
        }

        &__title {
            padding-bottom: 7rem;
            margin-bottom: 5.6rem;
        }

        &__content {
            flex-direction: column;
        }

        &__about {
            width: 100%;
            margin-bottom: 10rem;
        }

        &__about-title {
            font-size: 4rem;
            width: 80%;
            margin-bottom: 5.5rem;
            line-height: 1.5;
        }

        &__about-subtitle {
            font-size: 4rem;
        }

        &__text-block {
            font-size: 3.6rem;
            line-height: 1.35;
            width: 100%;
            flex-direction: column;
            justify-content: start;

            p {
                width: 100%;

                &:not(:last-child) {
                    padding-right: 3rem;
                    padding-bottom: 4rem;
                }
            }

        }

        &__photo {
            height: 73.6rem;
            width: 100%;
        }
    }



    .steps {
        padding-top: 0rem;
        margin-bottom: 24rem;

        &__title-wrap {
            margin-bottom: 12rem;
        }

        &__title {
            margin-bottom: 2.6rem;
        }

        &__subtitle {
            letter-spacing: 0.4px;
            text-align: left;
        }

        &__content {
            flex-direction: column;
            margin-bottom: 8rem;
        }

        &__box {
            width: 100%;
            height: 72.2rem;
            padding: 9rem 4rem 3rem 8rem;
            margin-left: 0;
            margin-top: 0;
        }

        &__box-stage {
            font-size: 12rem;
            margin-bottom: 6rem;
        }

        &__box-title {
            font-size: 5rem;
            margin-bottom: 6rem;
        }

        &__box-subtitle {
            font-size: 3.4rem;
            line-height: 1.3;
            width: 88%;
        }

        &__btn {
            display: flex;
        }

    }


    .price {
        padding-top: 0rem;
        padding-bottom: 0rem;
        margin-bottom: 24rem;

        &__title-wrap {
            margin-bottom: 8rem;
        }

        &__title {
            margin-bottom: 2.6rem;
        }

        &__subtitle {
            letter-spacing: 0.4px;
            width: 100%;
            text-align: left;
        }

        &__content {
            margin-bottom: 8rem;
        }

        &__heading-wrap {
            padding-bottom: 2.6rem;
            margin-bottom: 6rem;
        }

        &__heading {
            font-size: 3.4rem;

            &:first-child {
                width: 51%;
            }

            &:last-child {
                width: 48%;
            }
        }

        &__row {
            padding-bottom: 6rem;
            padding-right: 3rem;

            &:not(:last-child) {
                margin-bottom: 3rem;
            }
        }

        &__key {
            font-size: 5rem;
            width: 46%;
            margin-right: 3rem;
            line-height: 1.5;

            sup {
                font-size: 3.4rem;
            }
        }

        &__value {
            font-size: 5rem;
            font-weight: 700;
            width: 48%;
        }

        &__btn {
            margin: 0 auto;
        }
    }



    .composition {
        margin-bottom: 22rem;

        &__title {
            margin-bottom: 6rem;
        }

        &__spoller-title-wrap {
            height: 17rem;
        }

        &__spoller-title {
            font-size: 4rem;
        }

        &__spoller-img {
            width: 8rem;
            height: 2rem;
        }

        &__spoller-content {
            padding-bottom: 6rem;
        }

        &__text-block {
            font-size: 3.6rem;
            width: 100%;
            margin-right: 0rem;

            li {
                padding-left: 5rem;

                &::before {
                    content: "";
                    width: 1rem;
                    height: 1rem;
                    top: 1.5rem;
                }
            }
        }

        &__img {
            width: 62.7rem;
            height: 27.5rem;

            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }

    // этот блок убрали с дизайна
    // .project-typical {

    //     &__title-wrap {
    //         margin-bottom: 5.6rem;
    //     }

    //     &__title {

    //     }

    //     &__btn {
    //         margin-right: 1.5rem;
    //     }

    //     &__content {

    //     }

    //     &__content-wrapper {

    //     }

    //     &__slide {

    //         display: flex;
    //         padding: 4.4rem 4.4rem 4.4rem 3.3rem;
    //         background: #ffffff;
    //         border:  0.1rem solid #D2D2D2;
    //         position: relative;

    //     }

    //     &__slide-sticker {
    //         width: 16.5rem;
    //         height: 3.6rem;
    //         background: #ffffff;
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         padding: 0 0.5rem;

    //         box-shadow: 1rem 2rem 7rem rgba(0, 0, 0, 0.5);

    //         font-size: 1.7rem;
    //         font-weight: 700;
    //         color: #323232;

    //         position: absolute;
    //         left: 0;
    //         bottom: 11.4rem;
    //         z-index: 1;
    //     }

    //     &__slide-img {
    //         width: 72.6rem;
    //         height: 42.5rem;
    //         margin-right: 6.1rem;
    //         flex-shrink: 0;

    //         img {
    //             height: 100%;
    //             object-fit: cover;
    //         }


    //     }

    //     &__slide-text {
    //         display: flex;
    //         flex-direction: column;
    //     }

    //     &__slide-title {
    //         @include text (3.2rem, 800, #323232);
    //         margin-bottom: 3rem;

    //     }

    //     &__slide-subtitle {
    //         @include text (2rem, 400, #808080);
    //         line-height: 1.35;
    //         margin-bottom: 3rem;
    //         width: 90%;
    //     }

    //     &__slide-qr-code {
    //         width: 10.7rem;
    //         height: 10.7rem;
    //         margin-bottom: 8rem;

    //         img {
    //             height: 100%;
    //             object-fit: contain;
    //         }
    //     }

    //     &__control {
    //         margin-top: auto;
    //     }

    //     &__slider-arrow-prev {

    //     }

    //     &__pagination {

    //     }

    //     &__slider-arrow-next {

    //     }
    // }


    .steps.white {
        background: #ffffff;
        margin-bottom: 22rem;
        padding-top: 0;

        .steps {

            &__box {
                border: 0.1rem solid #d2d2d2;
            }

            &__box-stage {
                color: #323232;
            }

            &__box-title {
                color: #323232;
            }
        }
    }


    .price.white {
        .price {
            &__key {
                color: #323232;
            }

            &__value {
                color: #323232;

            }
        }
    }


    .our-services.white {

        .our-services {

            &__box {
                background: #ffffff;

                &:hover {
                    background: #323232;

                    .our-services__box-title {
                        color: #ffffff;
                    }
                }
            }

            &__title-wrap {
                margin-bottom: 8rem;
            }

            &__title {
                margin-bottom: 2.5rem;
            }

            &__box-title {
                color: #323232;
            }

            &__btn {
                align-self: start;
            }



        }
    }


    .catalog.catalog--light {

        .catalog__box {
            border: 1px solid #D2D2D2;
        }

        .catalog__slide-title {
            color: #323232;
            padding-left: 0;
        }
    }


    .banner-about.seo {
        padding-top: 5.6rem;
        margin-bottom: 10rem;

        .banner-about {


            &__inner {
                display: block;
                margin-bottom: 10.4rem;
            }

            &__substrate {
                width: 115rem;
                height: 77rem;
                top: auto;
                bottom: 0;
                left: 0;
                -webkit-transform: translateX(-42%);
                transform: translateX(-15%);
            }

            &__text-block {
                margin: 0;
                padding-right: 0rem;
                padding-top: 0rem;

            }

            &__title {
                text-align: left;
                margin-bottom: 4rem;
            }

            &__subtitle {
                margin-bottom: 8rem;
                width: 100%;
                text-align: left;
                letter-spacing: normal;
            }

            &__photo-block {
                width: 48rem;
                height: 57rem;
                margin-left: auto;

            }
        }
    }

    .article.dark {
        background: #323232;

        &::before {
            content: none;
        }
    }


    .projects.page-seo {
        margin-bottom: 22rem;
    }

    .our-services.page-seo {
        padding-top: 0;
        margin-bottom: 21rem;
    }
    




    .news-banner {
        margin-bottom: 12rem;
        padding-top: 6rem;
    
        &__inner {
            padding: 0 0rem;
        }
        
        &__top {
            flex-direction: column;
            margin-bottom: 9rem;
        }
        
        &__breadcrumbs {
            flex-wrap: wrap;
            width: 100%;
            padding-right: 0rem;
            margin-bottom: 3rem;
        }
        
        &__breadcrumbs-item {
            font-size: 3rem;
    
            &:not(:last-child) {
                margin-right: 2rem;
    
                &::after {
                    width: 0.6rem;
                    height: 0.6rem;
    
                    position: absolute;
                    top: 50%;
                    right: -1rem;
                    transform: translateY(-50%);
                }
            }
        }
        
        &__btn.btn--black {
            border: none;
            width: 30rem;
    
            img {
                right: auto;
                left: -0rem;
                width: 10rem;
                height: 1.5rem;
            }
        }
        
        &__title-wrap {
            width: 100%;
            margin-bottom: 13rem;
        }
        
        &__date {
            font-size: 4rem;
            margin-bottom: 3rem;
            text-transform: lowercase;
        }
        
        &__title {
            width: 100%;
            letter-spacing: normal;
            line-height: 1.4;
        }
        
        &__about-block {
           flex-direction: column;
            margin-bottom: 12rem;
        }
        
        &__social-wrap {
            width: 100%;
            margin-top: 0;
            margin-bottom: 12.6rem;
        }
        
        &__subscribe {
            font-size: 3.6rem;
            margin-bottom: 3.6rem;
        }
        
        &__social-item {
            width: 5rem;
            height: 5rem;

            &:not(:last-child) {
                margin-right: 6rem;
            }
        }
        
        &__description {
            width: 100%;
        }
        
        &__data-news {
            font-size: 3.6rem;
            margin-bottom: 4rem;
        }
        
        &__descrioption-text {
            font-size: 3.6rem;
            line-height: 1.29;
        }
        
        &__photo-block {
            height: 72rem;
            width: 100%;
    
            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
    
    
    
    .news {
        margin-bottom: 25rem;

        .container {
            padding: 0;
        }
    
        &__content {
            padding: 0 0rem;
            margin-bottom: 24rem;
        }
        
        &__title {
            font-size: 4rem;
            line-height: 1.47;
            margin-bottom: 6rem;
            padding: 0 4rem;
        }
        
        &__par {
            font-size: 3.4rem;
            line-height: 1.58;
            padding: 0 4rem;

            &:first-child {
                padding-top: 6rem;
            }
    
            &:not(:last-child) {
                margin-bottom: 3rem;
            }
    
            &.par-center {
                padding: 9rem 4rem 12rem 4rem;
            }
    
            &.not-margin {
                margin-bottom: 0;
            }
        }
        
        
        &__list {
            margin-bottom: 13.5rem;
            padding: 9rem 4rem 0 4rem;
        }
        
        &__list-title {
            font-size: 4rem;
            line-height: 1.4;
            margin-bottom: 5.5rem;
        }
        
        &__list-item {
            padding-left: 5rem;
            font-size: 3.4rem;
            line-height: 1.6;
    
            &:not(:last-child) {
                margin-bottom: 0rem;
            }
    
            &::before {
                width: 0.6rem;
                height: 0.6rem;
                top: 2.8rem;
                left: 2rem;
                background: #808080;
            }
        }
        
        &__block-with-photo {
            flex-direction: column;
            margin-bottom: 9rem;
            padding-top: 9rem;
        }
        
        &__text-wrap {
            width: 100%;
            margin-right: 0rem;
            margin-bottom: 5.7rem;
        }
        
        &__img {
            width: 100%;
            height: 72rem;
        }
        
        &__quote-block {
            flex-direction: column;
            margin-bottom: 11.5rem;
        }
        
        &__quote-wrap {
            width: 100%;
            padding: 3rem 4rem 0rem 4rem;
        }
        
        &__quote-img {
            width: 6rem;
            height: 4rem;
            margin-bottom: 12.5rem;
        }
        
        &__quote-text {
            font-size: 4.4rem;
            line-height: 1.5;
            margin-bottom: 12rem;
        }
        
        &__quote-author {
            font-size: 3rem;
            letter-spacing: 2px;
            margin-bottom: 7rem;
        }
        
        &__par-wrap {
            width: 100%;
        }
        
        &__about-news {
            padding: 0 4rem;
           flex-direction: column;
        
        }
        
        &__about-author {
            width: 100%;
            height: 17.6rem;
            padding: 3rem;
            margin-bottom: 10rem;
        }
        
        &__author-photo {
            width: 12rem;
            height: 12rem;
            margin-right: 4.6rem;
        }
        
        &__author-position {
            font-size: 2.8rem;
            margin-bottom: 1rem;
        }
        
        &__author-name {
            font-size: 3.2rem;
        }
        
        &__evaluation-block {
            width: 100%;
        }
        
        &__evaluation {
            margin-bottom: 8.5rem;
        }
        
        &__evaluation-title {
            font-size: 3.8rem;
        }
    
        &__evaluation-item {
            width: 6rem;
            height: 6rem;
    
            &:not(:last-child) {
                margin-right: 4rem;
            }
    
            img {
                height: 100%;
                object-fit: contain;
            }
        
        }
        
        &__social-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
        
        }
        
        &__subscribe {
            font-size: 3.8rem;
        }
        
        &__social {
            display: flex;
            align-items: center;
        
        }
        
        &__social-item {
            width: 5rem;
            height: 5rem;
            opacity: 0.4;
    
            &:not(:last-child) {
                margin-right: 6rem;
            }
    
            img {
                height: 100%;
                object-fit: contain;
            }
        
        }
    }
    
    
    
    .other-news {
        margin-bottom: 25rem;
        
        &__inner {
            padding: 0 0rem;
        }
        
        &__title {
            margin-bottom: 9rem;
            letter-spacing: normal;
        }
        
        &__content {
            display: grid;
            grid-template-columns: 100%;
            column-gap: 0rem;
            row-gap: 12rem;
        }
    }
    
    
    .news-box {
    
        &__img {
            height: 72rem;
            margin-bottom: 8.2rem;
        }
        
        &__date {
            font-size: 3.4rem;
            padding-bottom: 2.4rem;
            margin-bottom: 4.8rem;
        }
        
        &__title {
            font-size: 4.8rem;
            margin-bottom: 3.5rem;
        }
        
        &__subtitle {
            font-size: 3.6rem;
        }
    }
    
    
}
